html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: 'Roboto Mono', regular 400;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 5rem;
}
nav {
    padding:2% 0;
}

nav a {
    display: inline-block;
    width:10%;
    padding:1% 0;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;

}

.orange{
    background-color: #FF764E;
    margin-left: 10%;
}

.blue {
    background-color: #5ED3EB;
    margin: 0 24%;
}

.yellow {
    background-color: #FFCD69;
}

.top {
    position: relative;
}

.left, .right {
    display: inline-block;
    text-align: center;
}

.left {
    width: 30%;
}

.left img{
    border-radius: 50%;
    width: 80%;
}

.right {
    width: 55%;
    margin-left: 5%;
    position: absolute;
    top: 45%;
    
}

.right p {
    margin: 5% 10%;
}

.text {
    width: 80%;
    margin: 0 auto;
}

.mid {
    background-color: #DDB9A3;
    color: white;
    padding: 5%;
    margin-top: 5%;
}

.info {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom:5%;
    width: 20%;
}

.info span {
    font-weight: bold;
}

section {
    margin: 5%;
}

#mountain {
    width: 100vw;
    height: 20vh;
}